{% extends 'base.html' %}
{% block content %}

<br>
<section class="blog-full">
  <div class="bloglinks reveal">
    <a href="{{url_for('index')}}">Home</a>
    <i class='bx bx-chevron-right'></i>
    <a href="{{url_for('quicklinks')}}">Solutions</a>
    <i class='bx bx-chevron-right'></i>
    <a href="blogsdetails.html">Outreach Activities</a>
  </div>
  <div class="alldetails reveal">
  <div class="blogheader">
    <h1>OUTREACH ACTIVITIES</h1>
    <div class="blogdet">
    <div class="date">
      <p>Posted on 12th October 2021</p>
    </div>
    <div class="content">
    <div class="gallery-image" data-aos="fade-up" data-aos-duration="3000"> 
        <div class="img-box">
            <img src="/static/images/hakathongallery/IMG_6456.JPG" alt="6">
          </div>
          <div class="img-box">
            <img src="/static/images/hakathongallery/IMG_6615.JPG" alt="11">
          </div>
          <div class="img-box">
            <img src="/static/images/hakathongallery/IMG_6671.JPG" alt="14">
          </div>

          <div class="img-box">
            <img src="/static/images/hakathongallery/IMG_6679.JPG" alt="15">
          </div>
          <div class="img-box">
            <img src="/static/images/hakathongallery/IMG_6370.JPG" alt="3">
          </div>
      <div class="img-box">
        <img src="/static/images/hakathongallery/IMG_6356.JPG" alt="1">
      </div>
      <div class="img-box">
        <img src="/static/images/hakathongallery/IMG_6644.JPG" alt="13">
      </div>
      
      <div class="img-box">
        <img src="/static/images/hakathongallery/IMG_6427.JPG" alt="4">
      </div>
      <div class="img-box">
        <img src="/static/images/hakathongallery/IMG_6444.JPG" alt="5">
      </div>
      
      <div class="img-box">
        <img src="/static/images/hakathongallery/IMG_6470.JPG" alt="7">
      </div>
      <div class="img-box">
        <img src="/static/images/hakathongallery/IMG_6472.JPG" alt="8">
      </div>
      <div class="img-box">
        <img src="/static/images/hakathongallery/IMG_6477.JPG" alt="9">
      </div>
      <div class="img-box">
        <img src="/static/images/hakathongallery/IMG_6614.JPG" alt="10">
      </div>
      <div class="img-box">
        <img src="/static/images/hakathongallery/IMG_6624.JPG" alt="12">
      </div>
      <div class="img-box">
        <img src="/static/images/hakathongallery/IMG_6648.JPG" alt="12">
      </div>
      
      <!-- <div class="img-box">
        <img src="" alt="15">
      </div>
      <div class="img-box">
        <img src="" alt="16">
      </div>
      <div class="img-box">
        <img src="" alt="17">
      </div>
      <div class="img-box">
        <img src="" alt="18">
      </div>
      <div class="img-box">
        <img src="" alt="19">
      </div>
      <div class="img-box">
        <img src="" alt="20">
      </div>
    </div> -->
  </div>
  </div>
  </div>
</div>
  
</section>
{% endblock %}
