{% extends 'base.html' %}
{% block content %}
    <section class="home" id="home">
      <div
        class="logos"
        data-aos="fade-up"
        data-aos-anchor-placement="center-bottom"
        data-aos-duration="2000"
      >
        <img src="/static/images/tnlogo.png" alt="logo" />
        <img src="/static/images/logo.png" alt="logo" />
        <img src="/static/images/tidco.png" alt="logo" />
      </div>
      <div class="content" data-aos="fade-up" data-aos-duration="3000">
        <h1>TANSAM</h1>
        <h6>Tamil Nadu Smart and Advanced Manufacturing Centre</h6>
        <p>Powered by <span class="">SIEMENS</span></p>
        <a href="#main" class="btn">Get Started</a>
      </div>
    </section>
    <section>
      <div class="video" id="main">
        <div class="overview-video">
          <video controls autoplay muted loop id="myVideo">
            <source
              src="/static/images/Tansam Corporate Video.mp4"
              type="video/mp4"
            />
          </video>
        </div>
      </div>
    </section>

    <section class="mt-5">
      <div class="text-center">
        <h2 style="font-weight: bold; color: #343a40;">Three Key Platforms offered at TANSAM</h2>
      </div>
      <div class="blogs">
     <div class="icons-container" id="main">
        <div class="icons reveal">
          <span class="name" style="color: #009999; font-weight: bold; font-size: 25px;">Innovation</span>
       </span>
             <div class="content">
                 <p>To Enable industry to develop personalized smart products with validated performance, then </p>
             </div>
       </div>
   
       <div class="icons reveal">
          <span class="name" style="color: #009999; font-weight: bold; font-size: 25px;">Infrastructure</span>
       </span>
             <div class="content">
                 <p>To enhance industry capability to create product, process and performance twin and </p>
             </div>
       </div>
   
       <div class="icons reveal">
               <span class="name" style="color: #009999; font-weight: bold; font-size: 25px;">Training and Services</span>
         </span>
             <div class="content">
                 <p>To provide established industry and students with training services to liquidate their day-to-day issues.</p>
             </div>
       </div>
     </div>
   </section>
   <section class="overview">
     <h2 class="headin reveal">TANSAM - An Overview</h2>
     <div class="overview-container reveal">
       <div class="overview-content">
         <p>TANSAM is a joint initiative of the Government of Tamil Nadu and Siemens Industry Software India Pvt. Ltd. (SISW). The centre is set up at TIDEL Park, Chennai, with an investment of Rs. 104 crores. The centre is equipped with Industry 4.0 technologies and is aimed at providing skill development and consultancy services to the manufacturing sector in the state. The centre will also provide training to the faculty of engineering colleges and polytechnics to enhance their skills in the areas of design and manufacturing.</p>
         <p>The revolution in modern Industrial systems is one of the most critical business and societal changes we’re experiencing. Urbanization, global environmental impacts, and government regulations are accelerating the demand for automation. Developing product with adequate range, capabilities, and multiple design variants is a great challenge. Achieving all this with the same (or lower) cost of ownership requires bringing innovations and engineering efficiency that has been unheard of in the industry - without risking safety, reliability, and quality.
   
           We require a simulation and testing solution covering every aspect of Automation. This will not only enable companies to achieve a significant competitive advantage, ROI, and operational performance edge in developing electric vehicles but also empowers them to adapt and evolve in the fast- approaching era of new mobility.
           
           Siemens Partner and Siemens Digital Industry Software establish, operate, enable and handed over an Industry Centre of Excellence to Section 8 company formed by TIDCO i.e. TANSAM.</p>
   
           <p>"TANSAM Centre of Excellence" is utilized by industries for spurring innovation at the grass root level. This will be a future proof for the industries and career progression training needs in the emerging technologies and best practices in par with international standards. Additionally, the CoE will be an ideal R&D facility for industries, to adapt to future technologies with cost saving advantages unique to them. The program has three key components namely Innovation Platform, that enable industry to develop personalized smart products with validated performance, then the Infrastructure Platform that enhance industry capability to create product, process and performance twin and the Engineering Services that provide established industry with services to liquidate their day to day issues. </p>
           <p>The TANSAM Centre of Excellence have seven specializations and establish in about 16700 square feet area at TIDEL Park Chennai, which includes: Product Innovation, Center for Predictive Engineering Analytics, Smart Factory Research, Center for Asset Performance Management (IoT) research, Research Center for Product Lifecycle Management, Innovative Manufacturing, AR/ VR /MR Research and Skill training
   
             The Industry Center of Excellence will provide services to Start-ups and large Industrial Units on not for profit basis from the facilities created. Entrepreneurs can also use facilities (wherever spare capacity is available) for regular work on payment.
             
             The Industry Center of Excellence is the first of its kind in India and Siemens has built a facility in China before the proposed one in Tamil Nadu. This will provide services to Large Industrial Units on subscription or one-time basis, Entrepreneurs and incubators Start-ups are welcome to use the facilities especially for their new innovation and product development, which will be based on user charges based on not for profit basis from the facilities created. Service charges shall be fixed on no profit basis. Such proliferation of industries and R&D will bring more patents for Tamil Nadu, which will be an accelerating force for Industry growth with state of the art Technology applications.</p>
         </div>
         </div>
       </section>
   <br>

    <script>
      AOS.init();
    </script>
  {% endblock %}

