{% extends 'base.html' %}
{% block content %}
<br>
<section class="blog-full">
  <div class="bloglinks reveal">
    <a href="{{url_for('index')}}">Home</a>
    <i class='bx bx-chevron-right'></i>
    <a href="{{url_for('quicklinks')}}">Services</a>
    <i class='bx bx-chevron-right'></i>
    <a href="{{url_for('naanmudhalvan')}}">Naan Mudhalvan</a>
  </div>
  <div class="alldetails reveal">
  <div class="blogheader">
    <h1>Naan Mudhalvan</h1>
    <div class="blogdet">
    <div class="date">
      
    </div>
    <div class="content">
      <p>
        "Naan Mudhalvan," aimed at providing essential information and resources to college students in Tamil Nadu. This program seems to focus on bridging the gap between education and industry requirements, ensuring that students receive relevant training to enhance their skills and increase their employability. By identifying potential training providers and offering guidance, the scheme aims to help students make informed choices about their careers and academic paths.  
      </p>
    </div>
    <div class="content">
      <p>
        Here are a few key points summarizing the objectives and features of the Naan Mudhalvan platform:
      </p>
    </div>
    <div class="content">
      <p>
        <p>
          <table>
          <tr>
          <th>Dynamic Information Provision:</th> <td>Naan Mudhalvan provides up-to-date information on courses and industry-specific skill offerings. This dynamic information is crucial for students to align their education with current industry demands.</td>
          </tr>
          <tr>
          <th>Targeted Training:</th> <td>The program identifies potential training providers who can offer skill-based training to students. This targeted approach ensures that students receive training that is aligned with industry needs, increasing their chances of finding suitable employment.</td>
          </tr>
          <tr>
          <th>Career Guidance:</th> <td> Naan Mudhalvan offers career guidance services to help students make informed decisions about their future. This guidance can include insights into various career paths, industry trends, and the skills required for specific roles.</td>
          </tr>
          <tr>
          <th>Academic Support:</th> <td> In addition to career guidance, the platform supports students academically. This support could involve providing resources for academic excellence, study materials, and information on educational opportunities.</td>
          </tr>
          <tr>
          <th>Job Placement Assistance:</th> <td>By imparting relevant skills and training, Naan Mudhalvan aims to enhance students' employability. The program likely assists students in finding job opportunities that match their skill sets, helping them secure suitable employment after completion of their training.</td>
          </table>
      </p>
      </p>
    </div>
    <div class="content">
      <p>
        Focus on State Educational Institutions: The initiative seems to concentrate on students in state educational institutions, ensuring that the benefits of the program are accessible to a wide range of students within Tamil Nadu.
Overall, Naan Mudhalvan appears to be a comprehensive platform that addresses the needs of students by offering not only relevant training but also guidance and support for their academic and career endeavors. This initiative has the potential to significantly impact the lives of students by empowering them with the skills and knowledge needed to achieve their career goals.
      </p>
    </div>
    <div class="content">
      <p>
        The collaborative efforts between TNSDC (Tamilnadu Skill Development Corporation) and TANSAM (Tamilnadu Smart and Advanced Manufacturing Centre) in providing specialized training to engineering college students and polytechnic students in Tamil Nadu. The extensive training programs offered to both 6th & 7th semester engineering college students and 5th-semester polytechnic students cover a wide range of advanced topics in the field of manufacturing and engineering.
      </p>
    </div>
    <div class="content">
      <p>
        The training courses provided to the 6th semester engineering college students include: (Total Students Trained – 17000)
      </p>
      <ul>
        <li>
          1.Smart and Advanced Manufacturing & Design Simulation</li>
          <li>2.Smart and Advanced Manufacturing & Process Simulation</li>
          <li>3.Industrial Embedded Systems</li>
        </li>
      </ul>
    </div>
    <div class="content">
      <p>
        The training courses for the 7th semester engineering college students cover: (Total Students Trained – 11000)
        <ul>
            <li>1.3D Printing using NX</li>
            <li>2.Industry 4.0 and its Applications in Mechanical Engineering</li>
            <li>3.PLC using Simatics</li>
            <li>Electric Vehicle Technology and Manufacturing</li>
        </ul>
      </p>
    </div>
    <div class="content">
      <p>
        Additionally, 5th-semester polytechnic students have been trained in the course of Industry 4.0 and its Applications in Manufacturing Industries. (Total Students Trained – 26000)
By offering these specialized courses, students are equipped with essential skills and knowledge related to advanced manufacturing techniques, simulation, embedded systems, 3D printing, Industry 4.0 technologies, PLC (Programmable Logic Controller) systems, and electric vehicle technology. This training not only enhances their theoretical understanding but also provides them with practical, industry-relevant expertise, making them well-prepared for the demands of the modern workforce.
This initiative showcases the commitment of TNSDC and TANSAM in preparing the future workforce of Tamil Nadu with cutting-edge skills, fostering innovation, and contributing to the growth of the manufacturing sector in the region. Such targeted training programs play a vital role in bridging the gap between academic learning and industry requirements, ensuring that students are job-ready and capable of making significant contributions to the manufacturing industry.
      </p>
    </div>
  </div>
  </div>
      <div class=""nanimg>
        <div>

        </div>
      </div>

        </div>
        
        

    </div>
  </div>
  
</section>
{% endblock %}

