{% extends 'base.html' %}
{% block content %}
<br>
<section class="blog-full">
  <div class="bloglinks reveal">
    <a href="index.html">Home</a>
    <i class='bx bx-chevron-right'></i>
    <a href="blogsdetails.html">About US</a>
    <i class='bx bx-chevron-right'></i>
    <a href="blogsdetails.html">ABOUT TANSAM</a>
  </div>
  <div class="alldetails reveal">
  <div class="blogheader">
    <h1>ABOUT TANSAM</h1>
    <div class="blogdet">
    <div class="date">
    <!---  <p>Posted on 12th October 2021</p> -->
    </div>
    <div class="content">
      <p>
        Tamil Nadu Industrial Development Corporation (TIDCO) to establish <span >The Tamil Nadu Smart and Advanced Manufacturing Centre (TANSAM) </span>at the TIDEL Park, Chennai. A first of its kind Center of Excellence (CoE) in India, TANSAM will provide a dedicated IT engineering ecosystem to support the Micro, Small & Medium Enterprises (MSME) sector and students across Tamil Nadu, and enable the growth of industries such as Aerospace, Defense, Automotive and Electric vehicles.

Dassault Systèmes has signed a Memorandum of Understanding (MoU) with Tamil Nadu Industrial Development Corporation (TIDCO).</p>
    </div>

    <div class="content">
      <h3>ABOUT SIEMENS SYSTEMS</h3>
      <p>The Tamil Nadu Smart and Advanced Manufacturing Centre (TANSAM) provides SMBs and students with the complete Siemens Xcelerator portfolio of solutions and services, giving them access to technology they could not otherwise afford. In its short existence, the center is already accelerating industrial innovation and driving economic growth by bringing newfound digitalization and automation capabilities to the area. </p>
    </div>
    <div class="content">
    <p>
      The center is a joint project between Siemens, the Tamil Nadu government and Tamilnadu Industrial Development Corporation. Its vision is to incubate innovative start-ups and provide Industry 4.0 training to engineering students. After its grand opening in November 2022 — in which Tamil Nadu Chief Minister M.K. Stalin officiated its inauguration — the center quickly attracted many aspiring learners. In less than a year, it has already trained more than 16,000 students, 700 professors and improved product development for over 2,000 SMBs and hopes to reach a half million students taught by the end of next year.
Siemens Partner Broadline Computer Systems, which has a focus on providing Siemens software for academic purposes, drove the implementation of Siemens technologies in the center alongside Siemens’ sales, presales and business development teams. Broadline Computer Systems, headquartered in Tamil Nadu, helps staff and provides ongoing support for the center, adding a local, grassroots flair to the TANSAM endeavor.
    </p>
  </div>
  <div class="content">
    <h4>TANSAM recognized as a WvS award finalist</h4>
    <p>TANSAM’s meteoric ascent to its status as a resource and beacon of hope has landed it as a top-3 finalist for this year’s Werner von Siemens (WvS) award “Siemens Matters” category under the entry “Non-Profit Collaboration: Embracing Industry 4.0.” The WvS Siemens Matters award is given for projects that provide access to technology and education and that sustain communities by:

      Positively impacting society and the environment
      Promoting responsible business practices
      Going beyond our business activities and financial performance
      The TANSAM center’s contributions and tremendous impact on the people of Tamil Nadu clearly merit its inclusion as a WvS award finalist. Other finalists in the category are “Creating a Home for Ukrainian Refugees,” which created a home in Poland for 160 refugees displaced by the war in Ukraine and “Empowered Communities: Digitalizing Aid with Mendix,” which developed low-code apps to help the Make A Wish organization overcome devastating setbacks caused by flooding in Germany and war in Ukraine.
      
      While winning the award would bestow even more prestige, the real takeaway should be the good that the TANSAM center is creating. The same can be said for the other finalists in the Siemens Matters category.
      
      This year, the WvS awards expanded from four to five categories. In addition to Siemens Matters, the other four categories include Customer Impact, Siemens Xcelerator, People, and Technology with Purpose.
      
      Tune into the WvS Awards on Wednesday, October 18, from 5 to 7 p.m. (CEST), where you can cast your vote for the most deserving finalists.</p>
  </div>
  <!-- <div class="content">
    <h4>Our Trusted Company MoU Collabrator</h4> 
    <div class="content2.0">
      <div class="partner-logos">
        <div class="partner-logo"><img src="./srcimage/Ramachandra.png" alt="Partner 1" style="text-align: center;"></div>
        <div class="partner-logo"><img src="partner2.jpg" alt="Partner 2"></div>
        <div class="partner-logo"><img src="partner3.jpg" alt="Partner 3"></div>

      </div>
    </div>
  </div> -->
</div>
    </div>
  </div>
  
</section>
{% endblock %}

