{% extends 'base.html' %}
{% block content %}
<br>
<section class="blog-full">
  <div class="bloglinks reveal">
    <a href="{{url_for('index')}}">Home</a>
    <i class='bx bx-chevron-right'></i>
    <a href="{{url_for('quicklinks')}}">Services</a>
    <i class='bx bx-chevron-right'></i>
    <a href="{{url_for('digitaltwin')}}">Digital Twin</a>
  </div>
  <div class="alldetails reveal">
  <div class="blogheader">
    <h1>DIGITAL TWIN</h1>
    <div class="blogdet">
    <div class="date">
      <p>Posted on 12th October 2021</p>
    </div>
    <div class="content">
      <p>
          </p>
    </div>
    <div class="content">
      <p>
        
      </p>
    </div>
    <div class="content">
        <p>
          A digital twin is a digital representation of a physical object, person, or process, contextualized in a digital version of its environment. Digital twins can help an organization simulate real situations and their outcomes, ultimately allowing it to make better decisions. Digital twins can allow for rapid iterations and optimizations of product designs—far faster than physically testing every single prototype. We’re using Siemens software such as  Tecnomatix , NX, Solid Edge, Simcenter 3D, Amesim, Valor and others to deliver Products and Engineering services.            
        </p>
      </div>
      <div class="digiimage">
        <img  src="/static/images/digit3.png" alt="Normal vehicle" height="170" weight="250" ></img>
      <img  src="/static/images/digit4.png" alt="Output vehicle" height="170" weight="250"></img>
      </div>
      <div class="content">
        <p>
          A digital twin is a digital representation of a physical object, person, or process, contextualized in a digital version of its environment. Digital twins can help an organization simulate real situations and their outcomes, ultimately allowing it to make better decisions. Digital twins can allow for rapid iterations and optimizations of product designs—far faster than physically testing every single prototype. We’re using Siemens software such as NX, Solid Edge, Simcenter 3D, StarCCM+, Amesim, Tecnomatix, Valor and others to deliver Products and Engineering services.
         </p>
      </div>
    <div class="blogimage reveal">
       <!-- <iframe width="90%" height="500px" allowFullScreen="true" allow="accelerometer; magnetometer; gyroscope" style="display:block; margin:20px auto; border:0 none; max-width:880px;border-radius:8px; box-shadow: 0 1px 1px rgba(0,0,0,0.11),0 2px 2px rgba(0,0,0,0.11),0 4px 4px rgba(0,0,0,0.11),0 6px 8px rgba(0,0,0,0.11),0 8px 16px rgba(0,0,0,0.11);" src="https://panoraven.com/en/embed/JcYSdioc81"></iframe> -->
       <!-- <img  src="/static/images/digit2.jpg" alt="Normal vehicle" height="70" weight="50"></img> -->
    </div>
    
    <div class="digiimage">
      <img  src="/static/images/digit2.jpg" alt="Normal vehicle" height="270" weight="350"></img>
    <img  src="/static/images/digit1.png" alt="Output vehicle" height="270" weight="350"></img>
    </div>
    
  </div>
  </div>
 
        

    </div>
  </div>
  
</section>
{% endblock %}