{% extends 'base.html' %}
{% block content %}
<br>
<section class="blog-full">
  <div class="bloglinks reveal">
    <a href="{{url_for('index')}}">Home</a>
    <i class='bx bx-chevron-right'></i>
    <a href="{{url_for('quicklinks')}}">Services</a>
    <i class='bx bx-chevron-right'></i>
    <a href="{{url_for('digitaltechnology')}}"> Digital Technology</a>
  </div>
  <div class="alldetails reveal">
  <div class="blogheader">
    <h1>DIGITAL TECHNOLOGY</h1>
    <div class="blogdet">
    <div class="date">
      
    </div>
    <div class="content">
      <p>
        Software plays a crucial role in digital technology, encompassing a wide range of programs and applications that run on computing devices. This includes operating systems like Windows, macOS as well as productivity software, multimedia applications, games, web browsers, and more.</p>
    </div>
    <div class="content">
      <p>
        <Span>Mendix (SIEMENS SOFTWARE):</span> Mendix is a low-code application development platform that allows users to build, integrate, and deploy web and mobile applications rapidly. It enables developers to create applications using visual modeling tools and pre-built components, significantly reducing the need for manual coding.
      </p>
    </div>
    <!-- <div class="content">
      <p>
        In the realm of VR, we have meticulously crafted a diverse range of applications tailored for the medical industry. From immersive VR games designed for medical training to in-depth human anatomy inspections that allow for unprecedented exploration, our VR solutions transcend traditional boundaries. Leveraging the full potential of the Meta Quest platform through the Unity Engine, we have pioneered unparalleled experiences that facilitate efficient learning and training methodologies.

      </p>
    </div> -->
    <div class="content">
        <p> 
          <span>Full Stack Development:</span> Full-stack development involves working on both the front-end (client-side) and back-end (server-side) aspects of an application. It typically includes proficiency in multiple programming languages, frameworks, and technologies such as HTML, CSS, JavaScript, React for the front end, and languages like Python, or Node.js for the back end.
        </p>
      </div>
      <div class="content">
        <p>
          <span>AI (Artificial Intelligence):</span> At our core, we harness the transformative power of AI, specializing in Deep Learning and Computer Vision. Our flagship project, PCB Defect Detection, stands as a testament to our expertise, employing sophisticated neural networks to ensure impeccable quality control. Complementing this, we've developed a suite of innovative solutions, including Emotion Tracking for soft skills enhancement, Gasket Visual Inspection, and Coin Detection models, all underpinned by advanced NLP and computer vision techniques. Our commitment to excellence in AI development is unwavering, as we continue to push the boundaries of what's possible.
        </p>
      </div>
    <!-- <div class="blogimage reveal">
        <iframe width="90%" height="500px" allowFullScreen="true" allow="accelerometer; magnetometer; gyroscope" style="display:block; margin:20px auto; border:0 none; max-width:880px;border-radius:8px; box-shadow: 0 1px 1px rgba(0,0,0,0.11),0 2px 2px rgba(0,0,0,0.11),0 4px 4px rgba(0,0,0,0.11),0 6px 8px rgba(0,0,0,0.11),0 8px 16px rgba(0,0,0,0.11);" src="https://panoraven.com/en/embed/JcYSdioc81"></iframe>
    </div> -->
  </div>
  </div>
  <!-- <div class="moreblogs">
      <div class="blogcontent">
        <h3>AR / VR Research Papers</h3>
        <div class="blogitems">
        <img src="/static/images/logo.png" alt="">
        <div class="para">
        <p>Lorem ipsum dolor sit amet consectetur adi</p>
        <p class="date">12th October 2021</p>
      </div>
      </div>
      <hr>
      <div class="blogitems">
        <img src="/static/images/logo.png" alt="">
        <div class="para">
        <p>Lorem ipsum dolor sit amet consectetur adi</p>
        <p class="date">12th October 2021</p>
      </div>
      </div>
      <hr>
      <div class="blogitems">
        <img src="/static/images/logo.png" alt="">
        <div class="para">
        <p>Lorem ipsum dolor sit amet consectetur adi</p>
        <p class="date">12th October 2021</p>
      </div>
      </div> -->
      

        </div>
        
        

    </div>
  </div>
  
</section>
{% endblock %}
