{% extends 'base.html' %}
{% block content %}

    <div id="circle-container" class="=circle-container">
        <div class="main">
            <div class="circle"></div>
        </div>
            <a href="{{url_for('naanmudhalvan')}}" class="link1">NANMUDHALVAN</a>
            <a href="{{url_for('productInnovation')}}" class="link1">PRODUCT<br>INNOVATION</a>
            <a href="{{url_for('innovationManufacturing')}}" class="link1">INNOVATIVE<br>MANUFACTURING</a>
            <a href="{{url_for('reverseEngineering')}}" class="link1">REVERSE<br>ENGINEERING</a>
            <a href="{{url_for('digitaltwin')}}" class="link1">DIGITAL TWIN<br>( Smart Factory )</a>
            <a href="{{url_for('iot')}}" class="link1">IOT</a>
            <a href="{{url_for('digitaltechnology')}}" class="link1">DIGITAL<br>TECHNOLOGY</a>
            <a href="{{url_for('ar_vr')}}" class="link1">AR/VR <br>RESEARCH</a>
            <a href="{{url_for('aisolution')}}" class="link1">AI DEVELOPMENT</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <script>
    window.addEventListener('scroll',reveal);

    function reveal(){
      var reveals = document.querySelectorAll('.reveal');

      for(i=0 ; i<reveals.length; i++)
      {
        var windowheight = window.innerHeight;
        var revealtop = reveals[i].getBoundingClientRect().top;
        var revealpoint = 150;

        if(revealtop < windowheight - revealpoint)
        {
          reveals[i].classList.add('active');
        }
        else{
          reveals[i].classList.remove('active');
        }
      }
    }

    var swiper = new Swiper(".mySwiper", {
      loop: true,
  grabCursor: true,
  centeredSlides: true,
  autoplay: {
    delay: 1500,
    disableOnInteraction: false,
  },
      pagination: {
        el: ".swiper-pagination",
        dynamicBullets: true,
      },
    });

//quicklinks 
document.addEventListener('DOMContentLoaded', function() {
    const links = document.querySelectorAll('.link1');
    const totalLinks = links.length;
    const angle = 360 / totalLinks;
  
    links.forEach((link1, index) => {
      link1.style.transform = `rotate(${angle * index}deg) translate(300px) rotate(-${angle * index}deg)`;
    });
  });




var swiper = new Swiper(".vehicles-slider", {
  slidesPerView: 1,
  spaceBetween: 20,
  loop: true,
  grabCursor: true,
  centeredSlides: true,
  speed: 800,
  autoplay: {
    delay: 1000,
    disableOnInteraction: false,
  },
  pagination: {
    el: ".swiper-pagination",
    clickable: true,
  },
  breakpoints: {
    0: {
      slidesPerView: 2,
    },
    768: {
      slidesPerView: 3,
    },
    991: {
      slidesPerView: 4,
    },
  },
});
  </script>
  {% endblock %}
