{% extends 'base.html' %}
{% block content %}

<br>
<section class="blog-full">
  <div class="bloglinks reveal">
    <a href="{{url_for('index')}}">Home</a>
    <i class='bx bx-chevron-right'></i>
    <a href="{{url_for('quicklinks')}}">Services</a>
    <i class='bx bx-chevron-right'></i>
    <a href="{{url_for('reverseEngineering')}}">Reverse Engineering</a>
  </div>
  <div class="alldetails reveal">
  <div class="blogheader">
    <h1>Reverse Engineering</h1>
    <div class="blogdet">
    <div class="date">
      
    </div>
    <div class="content">
        <h3 class="subhead">Introduction : </h2>
      <p>
        Reverse engineering, sometimes called back engineering, is a process in which, Machines, aircraft, architectural structures and other products are deconstructed to extract design information from them. Often, reverse engineering involves deconstructing individual components of larger products. The reverse engineering process enables you to determine how a part was designed so that you can recreate it. Companies often use this approach when purchasing a replacement part from an original equipment manufacturer (OEM) is not an option.
      </p>
    </div>
    <div class="content">
      <p>
        The reverse engineering process is named as such because it involves working backward through the original design process. However, you often have limited knowledge about the engineering methods that went into creating the product. Therefore, the challenge is to gain a working knowledge of the original design by disassembling the product piece-by-piece or layer-by-layer.
      </p>
    </div>
    <div class="content">
        <h3 class="subhead">Reverse Engineering Process</h2>
            <p>
            <img src="/static/images/revengprocess.png" alt="">
        </p>
        </div>
  </div>
</div>


        </div>
        
        

    </div>
  </div>
  
</section>
{% endblock %}
