{% extends 'base.html' %}
{% block content %}

<br>
<section class="blog-full">
  <div class="bloglinks reveal">
    <a href="{{url_for('index')}}">Home</a>
    <i class='bx bx-chevron-right'></i>
    <a href="{{url_for('quicklinks')}}">EVENTS</a>
    <i class='bx bx-chevron-right'></i>
    <a href="{{url_for('tansamgallery')}}">CENTER VISITS</a>
  </div>
  <div class="alldetails reveal">
  <div class="blogheader">
    <h1>CENTER VISITS</h1>
    <div class="blogdet">
    <div class="date">
      <!-- <p>Posted on 12th October 2021</p> -->
    </div>
    <div class="content">
    <div class="gallery-image" data-aos="fade-up" data-aos-duration="3000"> 
      <div class="img-box">
        <img src="/static/images/tansamgallery/CM1.JPG" alt="6">
      </div>
      <div class="img-box">
        <img src="/static/images/tansamgallery/cmvr.JPG" alt="6">
      </div>
      <div class="img-box">
        <img src="/static/images/tansamgallery/explain.JPG" alt="6">
      </div>
      <div class="img-box">
        <img src="/static/images/tansamgallery/print.JPG" alt="6">
      </div>
      <div class="img-box">
        <img src="/static/images/tansamgallery/roboexplain.JPG" alt="6">
      </div>
      <div class="img-box">
        <img src="/static/images/tansamgallery/show.JPG" alt="6">
      </div>
      <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_3573.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_3574.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_3575.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_3576.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_3577.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_3578.JPG" alt="6">
        </div>

        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_3580.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_3581.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_3583.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_3585.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_3586.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_3594.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_3605.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_3607.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_3611.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_3619.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_3620.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_3625.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_3628.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_3628.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_3634.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_3643.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_3644.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_3645.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_3687.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_3688.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_3689.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_3693.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_3701.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_3737.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_3742.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_3750.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_3760.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_3761.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_3856.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_4101.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_4102.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_4153.JPG" alt="6">
        </div>
        <div class="img-box">
          <img src="/static/images/tansamgallery/IMG_6179.JPG" alt="6">
      </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_4207.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_4232.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_4239.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_4490.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_4563.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_4647.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_4746.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_4756.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_4943.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_5024.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_5046.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_5070.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_5086.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_5541.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_5672.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_5768.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_5932.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_5942.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_6012.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_6101.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_6105.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_6159.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_6180.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_6181.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_6245.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_6855.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_6861.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_6934.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_7019.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_8055.JPG" alt="6">
        </div>
        <div class="img-box">
          <img src="/static/images/tansamgallery/hannah.JPG" alt="6">
      </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_8432.JPG" alt="6">
        </div>
        <div class="img-box">
            <img src="/static/images/tansamgallery/IMG_8517.JPG" alt="6">
        </div>
  </div>
  </div>
  </div>
</div>
</section>
{% endblock %}




